<!-- templates/login.html -->
{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Logowanie</h2>
            <form id="loginForm" method="POST" action="{{ url_for('login') }}" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="username_or_email">Nazwa Użytkownika lub Email</label>
                    <input type="text" class="form-control" id="username_or_email" name="username_or_email" placeholder="Wprowadź nazwę użytkownika lub email" required>
                    <div class="invalid-feedback">
                        Proszę podać nazwę użytkownika lub email.
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Wprowadź hasło" required>
                    <div class="invalid-feedback">
                        Proszę podać hasło.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Zaloguj</button>
            </form>
            <div class="mt-3 text-center">
                <a href="{{ url_for('register') }}" class="btn btn-link">Nie masz konta? Zarejestruj się</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}